        .main {
			height: 100vh;
			background-color: #f7f7f7;
		}
		.side-image {
			background-image: url("src/assets/img/a.jpg");
			background-size: cover;
			background-position: center;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 60px;
			font-weight: bold;
		}
		.right {
			padding: 50px;
		}
		.input-box {
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 5px 10px rgba(0,0,0,0.2);
			padding: 30px;
			text-align: center;
		}
		
		.header {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 30px;
		}
        
		.header {
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 30px;

        }
		.input-field {
			margin-bottom: 20px;
			position: relative;
		}
		.input {
			border: none;
			border-bottom: 2px solid #ccc;
			font-size: 16px;
			padding: 10px;
			width: 100%;
			outline: none;
		}
		.input:focus {
			border-bottom-color: #007bff;
			outline: none;
		}
		.label {
			color: #777;
			font-size: 16px;
			font-weight: normal;
			position: absolute;
			top: 10px;
			left: 10px;
			transition: all 0.2s ease;
		}
		.input:focus + .label,
		.input:not(:placeholder-shown) + .label {
			color: #007bff;
			font-size: 14px;
			top: -15px;
			left: 0;
		}
		.submit {
			background-color: #007bff;
			border: none;
			border-radius: 20px;
			color: #fff;
			font-size: 16px;
			padding: 10px 20px;
			transition: all 0.2s ease;
			width: 100%;
		}
		.submit:hover {
			background-color: #0069d9;
			cursor: pointer;
		}
		.row {
			background-color: #3d77b6;
		}